<a href="https://colab.research.google.com/github/ladeiraA/Lab_Machine_Learning/blob/main/KnnAula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Importar bibliotecas
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors

In [9]:
# Carregar dados
df = pd.read_csv("filmes.csv", index_col=0)
df.head()

,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
Movie ID,,,,,,,,,,
58,The Imitation Game,8.0,1,1,1,0,0,0,0,0
8,Ex Machina,7.7,0,1,0,0,0,1,0,0
46,A Beautiful Mind,8.2,1,1,0,0,0,0,0,0
62,Good Will Hunting,8.3,0,1,0,0,0,0,0,0
97,Forrest Gump,8.8,0,1,0,0,0,0,0,0

In [10]:
# Remover colunas 
df = df.drop("Label", axis=1)
df = df.drop("Movie Name", axis=1)
df.head()

,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History
Movie ID,,,,,,,,
58,8.0,1,1,1,0,0,0,0
8,7.7,0,1,0,0,0,1,0
46,8.2,1,1,0,0,0,0,0
62,8.3,0,1,0,0,0,0,0
97,8.8,0,1,0,0,0,0,0

In [11]:
# Preparar o algoritimo
knn = NearestNeighbors(n_neighbors=3)
knn.fit(df)

NearestNeighbors(n_neighbors=3)

In [ ]:
knn.kneighbors(([]))